<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        Привет, {{ username }}. Мы зафиксировали попытку входа с нового места или устройства (его IP-адрес: {{ ip_address }}).
    </p>
    <p>
        Если это были не вы, то в ближайшее время зайдите в свой личный кабинет и смените пароль для доступа к нему.
    </p>
    <p>
        Если данная попытка входа является легитимной, пожалуйста, используйте следующий код подтверждения:
    </p>
    <p>
        <h1>
            {{ confirmation_code }}
        </h1>
    </p>
    <p>
        Внимание! Не сообщайте код ни под каким предлогом третьим лицам, в том числе сотрудникам VMS - мы никогда не запрашиваем подобной информации.
    </p>
</body>
</html>
