<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
</head>
<body>
    <p>
        Для почты {{ email }} поступил запрос на восстановление пароля на сайте <a href="{{ site_link }}">Личного Кабинета VMS</a>. Запрос поступил с устройства (IP-адрес: {{ ip_address }}, местоположение: {{ location }}).
    </p>
    <p>
        Если это были не вы, то вы можете проигнорировать данное сообщение.
    </p>
    <p>
        Если данная попытка является легитимной, пожалуйста, используйте следующий код подтверждения:
    </p>
    <p>
        <h1>
            {{ reset_code }}
        </h1>
    </p>
    <p>
        Внимание! Не сообщайте код ни под каким предлогом третьим лицам, в том числе сотрудникам VMS - мы никогда не запрашиваем подобной информации.
    </p>
</body>
</html>
